%li
	.comment{ data: { comment_id: comment.id } }
		%h4
			= comment.user.email
			= comment.commentable.class
		%p
			= comment.content

		= link_to 'Delete', recipe_comment_path(recipe_id: @recipe.id, id: comment.id), remote: true, method: :delete,  data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
		
		.comments_comments
			%ul
				%p{style: 'display: none;' }
					hidden p
				- if comment.comments
					= render partial: 'comments/comments', locals: { comments: comment.comments }

		- if comment.commentable.class.to_s == 'Recipe'
			.comment_form_display
				= link_to 'Reply', '#'
				.form_display
					= render partial: 'comments/form', locals: { commentable_type: 'Comment', user_id: current_user.id, commentable_id: comment.id }