
.container-fluid
	.row
		.col-xs-6
			%h1 My Recipes
		.col-xs-6
			.pull-right
				= link_to'New Recipe', new_recipe_path, class: 'btn btn-success'

#recipes
	%ul
		- @recipes.each do |recipe|
			%a{ href: recipe_path(recipe.id) }
				.row
					.recipe
						.col-xs-2
							.recipe_image
								- if recipe.photo.url
									= image_tag(recipe.photo.thumb)
								- else
									= image_tag('place_holder.jpg')
						.col-xs-9
							.description
								%p
									= recipe.name
								%p
									= "cuisine: #{recipe.cuisine}"
								= link_to('Edit', edit_recipe_path(recipe.id))
