%h1 
	= "#{@recipe.name} Recipe " + "(#{@recipe.cuisine})"

.recipe
	.row
		.col-xs-3
			.recipe_image
				- if @recipe.photo.url
					= image_tag(@recipe.photo.thumb)
				- else
					= image_tag('place_holder.jpg')
		.col-xs-8
			.description
				%p
					%ul
						- @recipe.steps.each.with_index(1) do |step, index|
							%li
								= "Step #{index} - #{step}"

				-	if user_signed_in?
					- if @recipe.user == current_user
						= link_to('Edit', edit_recipe_path(@recipe.id))

.container-fluid
	.comments
		.row
			.col-xs-8.col-xs-offset-3
				#main
					.comments_list
						%ul 
							- if @recipe.comments
								= render partial: 'comments/comments', locals: { comments: @recipe.comments }

				.comment_form_display
					= link_to 'add comment', '#'
					.form_display
						= render partial: 'comments/form', locals: { comment: @new_comment, commentable_type: 'Recipe', user_id: current_user.id, commentable_id: @recipe.id }







