%h1 
	= "#{@recipe.name} Recipe " + "(#{@recipe.cuisine})"

.recipe
	.col-xs-2
		.image
			Place holder
	.col-xs-9
		.description
			%p
				%ul
					- @recipe.steps.each.with_index(1) do |step, index|
						%li
							= "Step #{index} - #{step}"
