%nav{ class: 'navbar navbar-default' }
	.container-fluid
		.navbar-header
			%button{ type: "button", 'class' => "navbar-toggle collapsed", 'data-toggle' => "collapse", 'data-target' => "#bs-example-navbar-collapse-1", 'aria-expanded' => "false" }
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
     
			.navbar-brand
				= link_to 'RecipeShare', root_path

		%div{ class: 'collapse navbar-collapse', id: 'bs-example-navbar-collapse-1' }
			%ul{ class: "nav navbar-nav navbar-right" }
				- if user_signed_in?
					%li
						= link_to 'My Recipes', recipe_index_path
					%li
						= link_to 'sign out', destroy_user_session_path, :method => :delete
				- else
					%li 
						= link_to 'Sign in', new_user_session_path
					%li 
						= link_to 'Sign up', new_user_registration_path
	